/vendor/
/node_modules/

.env
.phpunit.result.cache

/storage/*.key
/storage/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

/public/hot
/public/storage
/storage/app/public

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea/
/.vscode/
/*.code-workspace

.DS_Store
Thumbs.db
